{% extends "layout.njk" %}

{% block styles %}
    <style>
    </style
{% endblock %}



{% block content %}
    <div class="form-container">
        <div class="container">
            <hr>
            <h1>Créer une nouvelles</h1>
            <hr>
            <form action="http://localhost:8080/nouvelles" method="POST">
                <div class="form-group">
                    <label for="title">Titre</label>
                    <input class="form-control" name="title">
                </div>
                <div class="form-group">
                    <label for="content">Contenu</label>
                    <textarea class="form-control" name="content">
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" name="description"></textarea>
                </div>
                <div class="form-group">
                    <label for="Auteur">Auteur</label>
                    <input class="form-control" name="author">
                </div>
                <div class="form-group">
                    <label for="date">Image URL</label>
                    <input class="form-control" name="urlToImg">
                </div>
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" class="form-control" name="date">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
