{% extends "layout.njk" %}

{% block styles %}
    <style>
        .action-btns-container {
            display: flex;
        }

        .action-btns-container * {
            margin: 5px;
        }

        .upper-container{
            display: flex;
            justify-content: space-between;
        }
    </style>
{% endblock %}



{% block content %}
    <div class="form-container">
        <div class="container">
            <hr>
            <div class="upper-container">
                <div>
                    <h1>Gestion des nouvelles</h1>
                </div>

              

            </div>
            <hr>
            <!-- select news  -->
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Date</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for nws in news %}

                        <tr id="{{ nws.id  }}" >
                            <td>
                                {{ nws.id }}
                            </td>
                            <td>
                                {{ nws.title }}
                            </td>
                            <td>
                                {{ nws.date }}
                            </td>
                            <td class="action-btns-container">
                                <a href="http://localhost:8080/nouvelles/update/{{ nws.id }}" type="button" class="btn btn-primary btn-sm">Modifier</a>
                                <button type="button" class="btn btn-primary btn-sm"
                                    onclick="onClickDelete({{ nws.id }})"
                                >Suppr</button>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
{#    <script src="toast.js"></script>#}
    <script>
        function onClickDelete (id){
            $.ajax({
                url: "http://localhost:8080/news/"+id,
                type: 'DELETE',
                success: function(result) {
                    $("tr#"+id).remove();
                    // showToast("La nouvelle #"+id+" à été supprimée avec succès");
                }
            });
        }

        // function showToast(message){
        //     var toast = new iqwerty.toast.Toast();
        //     toast.setText(message)
        //         .setDuration(5000)
        //         .show();
        //
        // }

    </script>
{% endblock %}
