{% extends "layout.njk" %}
{%block style %}
<style>
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400, 600";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  background: linear-gradient(to right, #c471ed, #12c2e9);
}

.card {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fafafa;
  border: 0px;
  transition: all 0.3s ease-in-out;
}

.card .card-img {
  height: auto;
  width: 100%;
  background-color: #4426a8;
  position: relative;
  background-size: cover;
  background-position: center top;
}

.card:hover {
  transform: scale(1.01);
  transition: all 0.5s ease-in-out;
}

.card .card-content span {
  margin-bottom: 0.5rem;
  position: relative;
  display: block;
}

.card svg {
  position: absolute;
  top: 0;
}

.card .card-content {
  width: 100%;
  overflow-x: hidden;
  padding: 10px 20px 30px 20px;
  position: relative;
  overflow-y: hidden;
}

.card .card-content .bttn {
  display: inline-block;
  padding: 7px 8px;
  text-align: center;
  border-radius: 3px;
  background-color: #39454b;
  text-decoration: none;
  color: #fff;
  transition: 300ms all;
}

.card .card-content .bttn:hover {
  background-color: #3e4c53;
  color: #fff;
}

.card .card-content p:first-of-type {
  margin-top: 0px;
  text-align: left;
}
.btns-container{
  padding:25 px 30%;
  display: flex ;
  justify-content: space-between;
}
</style>

{% endblock %}



{%block content %}
<div class="container">
  {#
    <input type="search"  id="site-search" type="number" name="q" aria-label="La recherche by id">
    <a class="btn btn-primary"  role="button"  href="http://localhost:8080/nouvelles/{{ nws.id}}">Rechercher by id</a>
    </input> #}
    <div class="row btns-container">
            <a class="btn btn-primary" role="button" href="http://localhost:8080/nouvelles/add">Ajouter Nouvelles</a>
            <a class="btn btn-primary" role="button"  href="http://localhost:8080/nouvelles/update">Update/Delete Nouvelles</a>
        </div>

    <div class="row mt-5 mb-5">
              {% for nws in news %}
                  <!-- card 1 -->
                  <div class="col-xs-12 col-sm-12 col-md-4 d-flex align-items-stretch mb-3">
                      <div class="card">
                          <img class="card-img" src={{ nws.urlToImg }}>
                          <div class="card-content">
                              <h4>{{ nws.title }}</h4>
                              <span>Par {{ nws.author }} le {{ nws.date }}</span>
                              <p> {{ nws.content }} </p>
                              <p> {{ nws.description }} </p>
                              <a href="#" class="bttn">Lire les details</a>
                          </div>
                      </div>
                  </div>
              {% endfor %}
          </div>
  </div>
{% endblock %}
   {# {% block scripts %}
{#    <script src="toast.js"></script>#}
    {# <script>
        function onClickDelete (id){
            $.ajax({
                url: "http://localhost:8080/news/"+id,
                type: 'DELETE',
                success: function(result) {
                    $("tr#"+id).remove();
                    // showToast("La nouvelle #"+id+" à été supprimée avec succès");
                }
            });
        }
         </script>
    {% endblock %} #}
