<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>JSAU-APP</title>
<link rel="stylesheet" href="/styles/style.processed.css">
</head>
<body>
  {% block content %}
  
  {% endblock %}

</body>
