{% extends "layout.njk" %}

{% block styles %}
    {% include "./_includes/css/date-time-picker.njk" %}
    <style>
        .invalid-feedback {
            display: inherit;
        }
    </style>
{% endblock %}



{% block content %}
    <div class="form-container">
        <div class="container">
            <hr>
            <h1>Modifier une nouvelles</h1>
            <hr>


            <!-- Update form -->
            <form method="POST" action="http://localhost:8080/nouvelles/update/{{ news.id }}?_method=PUT">
                <div class="form-group">
                    <label for="title">Titre</label>
                    <input class="form-control {{ "is-invalid" if errors[0] else "is-valid" }}"
                           name="title"
                           value="{{ oldValues['title'] if oldValues['title']  else news.title }}"
                    >
                    <div class="invalid-feedback">{{ errors[0].msg }}</div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control {{ "is-invalid" if errors[1] else "is-valid" }}"
                              name="description"
                    >{{ oldValues['description'] if oldValues['description']  else  news.description }}</textarea>
                    <div class="invalid-feedback">{{ errors[1].msg }}</div>
                </div>
                <div class="form-group">
                    <label for="content">Contenu</label>
                    <textarea class="form-control {{ "is-invalid" if errors[2] else "is-valid" }}"
                              name="content"
                              rows="5"
                    >{{ oldValues['content'] if oldValues['content'] else news.content }}</textarea>
                    <div class="invalid-feedback">{{ errors[2].msg }}</div>
                </div>
                <div class="form-group">
                    <label for="author">Auteur</label>
                    <input class="form-control {{ "is-invalid" if errors[3] else "is-valid" }}"
                           name="author"
                           value="{{ oldValues['author'] if oldValues['author'] else  news.author }}">
                                          <div class="invalid-feedback">{{ errors[3].msg }}</div>
                                          </div>
                                          <div class="form-group">
                                              <label for="urlToImg">Image URL</label>
                                              <input class="form-control {{ "is-invalid" if errors[4] else "is-valid" }}"
                                                     name="urlToImg"
                                                     type="url"
                                                     value="{{ oldValues['urlToImg'] if oldValues['urlToImg']  else  news.urlToImg }}">
                                              <div class="invalid-feedback">{{ errors[4].msg }}</div>
                                          </div>
                                          <div class="form-group">
                                              <label for="date">Date</label>
                                              <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                                  <input type="text"
                                                         class="form-control datetimepicker-input {{ "is-invalid" if errors[5] else "is-valid" }}"
                                                         data-target="#datetimepicker1"
                                                         name="date">
                                                </div>
                                                  <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                  </div>
                                              </div>
                                              <div class="invalid-feedback">{{ errors[5].msg }}</div>
                                          </div>
                                          <button type="submit" class="btn btn-primary btn-block">Soumettre</button>
                                      </form>
                                  </div>
                              </div>
                          {% endblock %}


                          {% block scripts %}
                              {% include "./_includes/js/date-time-picker.njk" %}
                              <script>
                                  // Local scripts
                                  $(function () {
                                      $('#datetimepicker1').datetimepicker({
                                          format: 'YYYY-MM-DD HH:mm',
                                          defaultDate: "{{ oldValues['date'] if oldValues['date'] else  news.date }}"
                                      });
                                  });
                             </script>
                         {% endblock %}
